body {
    font-family: "Helvetica", sans-serif;
    background-color: #FCF5D9;
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
}

h1, h2 {
    font-family: "Georgia", serif;
    text-align: center;
}

footer {
    text-align: center;
}

footer a {
    color: #68272A
}

footer a:hover {
    color: #C0600C;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        width: 95%;
        max-width: 700px;
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 98%;
        max-width: 500px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1400px) {
    main {
        max-width: 1000px;
    }
}