<h1>Josiah Flowers || ITIS 3135</h1>
<nav>
    <a href="./">Home</a> ||
    <a href="introduction.html">Introduction</a> ||
    <a href="contract.html">Contract</a> ||
    <a href="fccfsjs_outline.html">FCC JS Agreement</a>
</nav>
<nav>
    <a href="judiciousflounder/index.html">Judicious Flounder</a> ||
    <a href="stuff/THIS WEBPAGE SUCKS =).htm">Crappy Webpage</a> ||
    <a href="website_evaluations.html">Website Evaluations</a> ||
    <a href="hobby/index.html">Hobby</a> ||
    <a href="intro_form.html">BYO Intro</a>
</nav>